
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
}

.sidebar {
  width: 140px;
  background-color: #1b141e;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.sidebar .logo {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar li {
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.sidebar li:hover {
  transform: scale(1.2);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
header img{
    width: 40px;
    height: 30px;
    margin-top: 20px;
    display: inline-block;

}
.topbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.topbar h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.course-card {
  background: #fff;
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  position: relative;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #000000;
}

.course-info {
  font-size: 0.9rem;
  color: #000000;
}

.teacher {
  font-size: 0.97rem;
  color: #000000;
  margin-top: 1rem;
}
.spacer {
  height: 30px;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 2px solid rgb(254, 255, 250);
}
